<div class="splash-background"></div>

<div class="container overlay" ng-controller="ComingSoon">
	<h1 class="center brand">Teradryn</h1>
	<h3 class="center slogan">A Revolution in High Tech Fun</h3>
	<div class="countdown">
		<h2 class="center">Full Website Coming In:</h2>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="count">
					{{days}}
				</div>
				<span class="count-description">Days</span>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="count">
					{{hours}}
				</div>
				<span class="count-description">Hours</span>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="count">
					{{minutes}}
				</div>
				<span class="count-description">Minutes</span>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="count">
					{{seconds}}
				</div>
				<span class="count-description">Seconds</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div ng-include="emailSignUp"></div>
		</div>
	</div>
</div>