<section>
	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h4 class="md-headline"	>Our team is composed of engineers, developers and designers who stive to make devices that are fun for people of all ages. With years of experience, a great work environment and a dedicated work ethic. We are positioned as a high growth startup in a large market.</h4>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="team-member connor" ng-click="invokeSidebar('tm-connor')">
						<!-- Connor -->
						<div class="content" id="tm-connor">
							<div class="tm-name">
								<div class="col-xs-3">
									<img src="/images/connor-character.png" />
								</div>
								<div class="col-xs-9">
									<p class="md-title">Connor McCutcheon</p>
									<p class="md-caption">CEO &amp; Developer</p>
								
								</div>
							</div>
							<div class="tm-desc col-xs-12">
								<p class="md-body-2">Connor is a founder and the CEO of Teradryn. Connor has experience as a project managemer, as a developer, and as a team leader which he brings to Teradryn. Connor spearheads development with the Teradryn team, promoting progress and fostering innovation.</p>
							</div>
							<div class="tm-links col-xs-12">
								<p><a target="_blank" href="https://github.com/ccutch" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
									</svg> github.com/ccutch
								</a></p>
								<p><a href="mailto:connormccutcheon95@gmail.com" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
									</svg> connormccutcheon95@gmail.com
								</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="team-member dave" ng-click="invokeSidebar('tm-dave')">
						<!-- Dave -->
						<div class="content" id="tm-dave">
							<div class="tm-name">
								<div class="col-xs-3">
									<img src="/images/dave-character.png" />
								</div>
								<div class="col-xs-9">
									<p class="md-title">Dave Wu</p>
									<p class="md-caption">Engineer</p>
								
								</div>
							</div>
							<div class="tm-desc col-xs-12">
								<p class="md-body-2">Connor is cool as shit. This is some more content that is about connor and why he is so awesome so you should read it all because it is sweet af and ya tots swag.</p>
							</div>
							<div class="tm-links col-xs-12">
								<p><a target="_blank" href="https://github.com/ccutch" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
									</svg> github.com/ccutch
								</a></p>
								<p><a href="mailto:connormccutcheon95@gmail.com" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
									</svg> connormccutcheon95@gmail.com
								</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="team-member tommy" ng-click="invokeSidebar('tm-tommy')">
						<!-- Tommy -->
						<div class="content"id="tm-tommy">
							<div class="tm-name">
								<div class="col-xs-3">
									<img src="/images/tommy-character.png" />
								</div>
								<div class="col-xs-9">
									<p class="md-title">Thomas Turner</p>
									<p class="md-caption">Designer &amp; Engineer</p>
								
								</div>
							</div>
							<div class="tm-desc col-xs-12">
								<p class="md-body-2">Connor is cool as shit. This is some more content that is about connor and why he is so awesome so you should read it all because it is sweet af and ya tots swag.</p>
							</div>
							<div class="tm-links col-xs-12">
								<p><a target="_blank" href="https://github.com/ccutch" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
									</svg> github.com/ccutch
								</a></p>
								<p><a href="mailto:connormccutcheon95@gmail.com" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
									</svg> connormccutcheon95@gmail.com
								</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="team-member brian" ng-click="invokeSidebar('tm-brian')">
						<!-- Brian -->
						<div class="content"id="tm-brian">
							<div class="tm-name">
								<div class="col-xs-3">
									<img src="/images/brian-character.png" />
								</div>
								<div class="col-xs-9">
									<p class="md-title">Brian Liu</p>
									<p class="md-caption">Developer</p>
								
								</div>
							</div>
							<div class="tm-desc col-xs-12">
								<p class="md-body-2">Connor is cool as shit. This is some more content that is about connor and why he is so awesome so you should read it all because it is sweet af and ya tots swag.</p>
							</div>
							<div class="tm-links col-xs-12">
								<p><a target="_blank" href="https://github.com/ccutch" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
									</svg> github.com/ccutch
								</a></p>
								<p><a href="mailto:connormccutcheon95@gmail.com" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
									</svg> connormccutcheon95@gmail.com
								</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="team-member charles" ng-click="invokeSidebar('tm-charlie')">
						<!-- Charlie -->
						<div class="content"id="tm-charlie">
							<div class="tm-name">
								<div class="col-xs-3">
									<img src="/images/charles-character.png" />
								</div>
								<div class="col-xs-9">
									<p class="md-title">Charles Gude</p>
									<p class="md-caption">Developer</p>
								
								</div>
							</div>
							<div class="tm-desc col-xs-12">
								<p class="md-body-2">Connor is cool as shit. This is some more content that is about connor and why he is so awesome so you should read it all because it is sweet af and ya tots swag.</p>
							</div>
							<div class="tm-links col-xs-12">
								<p><a target="_blank" href="https://github.com/ccutch" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
									</svg> github.com/ccutch
								</a></p>
								<p><a href="mailto:connormccutcheon95@gmail.com" class="md-body-2">
									<svg class="tm-link" viewBox="0 0 24 24">
									    <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
									</svg> connormccutcheon95@gmail.com
								</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="team-member deepak" ng-click="invokeSidebar('tm-deepak')">
						<!-- Dr. D -->
						<div class="content"id="tm-deepak">
							<div class="tm-name">
								<div class="col-xs-3">
									<img src="/images/deepak-character.png" />
								</div>
								<div class="col-xs-9">
									<p class="md-title">Deepak Upadhyaya</p>
									<p class="md-caption">Board Member and Investor</p>
								
								</div>
							</div>
							<div class="tm-desc col-xs-12">
								<p class="md-body-2">Deepak is Teradryn first investor and board member. Deepak is the founder and CEO of KalpTree Energy, where he invented a unique, flexible battery architecture with the vision of transforming the way people use portable energy. Deepak has successfully commercialized several innovations in industry ranging from batteries to semiconductor to automotive to oil and gas. Deepak holds a Ph.D. in Materials Science/Metallurgy from the University of Idaho and an MBA from San Jose State University.</p>
							</div>
							<div class="tm-links col-xs-12">
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	</div>
</section>